* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: #fff;
  background-image: url(/assets/background.svg);
}

.column1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 40px 10px;
  color: #fff;
}

.column2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  border-radius: 15px;
  color: #fff;
  backdrop-filter: blur(4px);
  border: 1px solid #4a11a1;
}

.column2::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  border-radius: 20px;
  background-color: #000000;
  opacity: 0.1;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 2px solid #ffffff;
}

.title {
  font-weight: 800;
  text-align: center;
  margin-top: 5px;
}

.subtitle {
  font-weight: 600;
  text-align: center;
  color: #dddddd;
}

.description {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description p {
  font-size: 17px;
}

.lista {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
}

.lista li {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 6px;
  background-color: #0f041f;
  border-radius: 6px;
  border: 1px solid #4a11a1;
}

.icon {
  color: #6600ff;
}

.input {
  font-size: 16px;
  padding: 12px 6px;
  background-color: #0f041f;
  border-radius: 5px;
  border: 1px solid #4a11a1;
  color: #fff;
  width: 300px;
}

.box-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.btn {
  padding: 12px 28px;
  font-size: 16px;
  background-color: #0f041f;
  border-radius: 5px;
  border: 1px solid #4a11a1;
  color: #fff;
}

.Title {
  margin-bottom: 10px;
}

@media (width <=1200px) {
  .container {
    gap: 30px;
  }
  .column1 {
    gap: 10px;
  }

  .input {
    width: 250px;
  }
  .Title {
    font-size: 20px;
  }
  .description {
    width: 520px;
  }
  .lista {
    gap: 10px;
    font-size: 14px;
  }
}

@media (width <=850px) {
  .container {
    flex-direction: column;
    padding-bottom: 30px;
    gap: 30px;
  }

  .column1 {
    padding: 20px 10px;
    gap: 25px;
    justify-content: center;
  }

  .img {
    width: 200px;
    height: 200px;
  }

  .description {
    width: 90%;
  }

  .description p {
    font-size: 14px;
  }

  .lista {
    gap: 10px;
    flex-direction: column;
  }

  .input {
    width: 300px;
  }

  .lista li {
    padding: 4px 4px;
  }
}
